rules_version = '2';
service cloud.firestore {
  match /databases/{d}/documents {
    match /users/{u} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == u;
    }
    match /chats/{c}/messages/{m} {
      allow read: if request.auth != null && c.matches('.*' + request.auth.uid + '.*');
      allow create: if request.auth != null && c.matches('.*' + request.auth.uid + '.*')
        && request.resource.data.from == request.auth.uid
        && request.resource.data.text is string
        && request.resource.data.text.size() <= 2000;
    }
  }
}
